-- Fix infinite recursion in user_roles policies
DROP POLICY IF EXISTS \
Admins
can
view
all
user
roles\ ON user_roles;
DROP POLICY IF EXISTS \Users
can
update
their
own
role\ ON user_roles;
DROP POLICY IF EXISTS \Admins
can
insert
user
roles\ ON user_roles;

-- Create simpler policies without circular references
CREATE POLICY \Anyone
can
select
from
user_roles\ 
ON user_roles FOR SELECT 
TO authenticated 
USING (true);

CREATE POLICY \Anyone
can
insert
into
user_roles\ 
ON user_roles FOR INSERT 
TO authenticated 
WITH CHECK (true);

CREATE POLICY \Anyone
can
update
user_roles\ 
ON user_roles FOR UPDATE 
TO authenticated 
USING (true);
